body {
    background-image: url('https://images.unsplash.com/photo-1427955569621-3e494de2b1d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=54078fb00185b26eea7707139e3c5de1&auto=format&fit=crop&w=1950&q=80');
    background-repeat: no-repeat;
    background-position: fill center;

}

.container {
    min-width: 558px;
    margin-top: 50px;
    border-radius: 10px;    
    padding: 25px;
    background-color: rgba(250,250,250, 0.8);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.15),
               -4px -4px 4px rgba(0,0,0,0.15),
                4px -4px 4px rgba(0,0,0,0.15),
                -4px 4px 4px rgba(0,0,0,0.15);
}

h1, h4, ul {
    text-align: center;
}

.hidden {
    display: none;
}

.clickToGuess:hover {
    font-weight: 700;
    cursor: pointer;
    border: 1px solid lightblue;
    border-radius: 5px;
}

.restart-btn {
    margin: 50px 0;
    background-color: rgb(102, 51, 153);
    color: white;
}

.content-row {
    margin: 20px 0;
}

.results-question-list {
    padding: 10px;
}

